@mixin box-sizing($value: unset) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin column-width($value: 250px ) {
  -webkit-column-width: $value;
  -moz-column-width: $value;
  column-width: $value;
}

@mixin box-shadow( $x: 10px , $y: 10px , $blur: 0px , $spread: 0px , $color: #000000 ) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values: auto) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -ms-flex: $values;
  -webkit-flex: $values;
  flex: $values;
}

@mixin flex-order($integer:1) {
  -webkit-box-ordinal-group: $integer;
  -moz-box-ordinal-group: $integer;
  -ms-flex-order: $integer;
  -webkit-order: $integer;
  order: $integer;
}

@mixin flex-grow($integer: 1) {
  -webkit-box-flex: $integer;
  -moz-box-flex: $integer;
  -webkit-flex-grow: $integer;
  -ms-flex: $integer;
  flex-grow: $integer;
}

@mixin flex-wrap($val:wrap) {
  flex-wrap: $val;
  -ms-flex-wrap: $val;
  -webkit-flex-wrap: $val;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin animation($type: fadeIn, $duration: 1s) {
  animation: $type $duration;
  -webkit-animation: $type $duration;
  -moz-animation: $type $duration;
  -o-animation: $type $duration;
  -ms-animation: $type $duration;
}

@mixin appearance($var: none) {
  -moz-appearance: $var;
  -webkit-appearance: $var;
  appearance: $var;
}

@mixin transition($where: all, $duration: 1s, $effect: ease-out) {
  -webkit-transition: $where $duration $effect;
  -moz-transition: $where $duration $effect;
  -o-transition: $where $duration $effect;
  transition: $where $duration $effect;
}
